---
import { Icon } from "astro-icon/components";

const skills = [
  { name: "HTML5", icon: "html5" },
  { name: "CSS3", icon: "css3" },
  { name: "JavaScript", icon: "javascript" },
  { name: "Tailwind", icon: "tailwindcss" },

  { name: "React", icon: "react" },
  { name: "Node.js", icon: "nodejs" },
  { name: "Next.js", icon: "nextjs" },
  { name: "Astro", icon: "astro" },

  { name: "PostgreSQL", icon: "postgresql" },

  { name: "Python", icon: "python" },
  { name: "Kotlin", icon: "kotlin" },
  { name: "Java", icon: "java" },

  { name: "Git", icon: "git" },
  { name: "GitHub", icon: "github" },
  { name: "VS Code", icon: "visualstudio" },

  { name: "Heroku", icon: "heroku" },
  { name: "Vercel", icon: "vercel" },
  { name: "AWS", icon: "amazonwebservices" },
  { name: "Stripe", icon: "stripe", iconify: "simple-icons:stripe" },
  { name: "Docker", icon: "docker" },

  { name: "Figma", icon: "figma" },
  { name: "Canva", icon: "canva" },
  { name: "Postman", icon: "postman" },
];
---

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>

<!-- Initially hidden -->
<div class="w-full hidden flex-col rounded-lg outline-2 md:px-6" id="skills">
  <h2 class="md:text-3xl text-2xl font-bold md:text-start text-center">
    Skills
  </h2>
  <div class="flex flex-wrap gap-4 mt-2 md:justify-start justify-center">
    {
      skills.map(({ name, icon, iconify }) => (
        <div class="flex flex-col items-center gap-1">
          {iconify ? (
            <Icon name={iconify} class="w-9 h-9 text-4xl" />
          ) : (
            <i class={`devicon-${icon}-plain text-4xl`} class="w-12 h-12" />
          )}
          <p class="text-sm">{name}</p>
        </div>
      ))
    }
  </div>
</div>
